<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hq.travel.entity.User">
    <resultMap id="user" type="com.hq.travel.entity.User"/>
<!--    <parameterMap id="" type=""/>-->
    <select id="getUserList" resultMap="user">
        select * from travel_user;
    </select>
</mapper>